<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.develop.mapper.CustomEntityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="customEntityResultMap" type="org.springblade.modules.develop.entity.CustomEntity">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="entity_name" property="entityName"/>
        <result column="entity_full_name" property="entityFullName"/>
        <result column="entity_table" property="entityTable"/>
    </resultMap>


    <select id="selectCustomEntityPage" resultMap="customEntityResultMap">
        select * from gen_custom_entity where is_deleted = 0
    </select>

</mapper>
